  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link rel="apple-touch-icon" sizes="180x178" href="{{url_for('static',filename='assets/apple-icon-180x180.png')}}">
    <link href="{{url_for('static',filename='assets/favicon.ico')}}" rel="icon">

    <title>Title page</title>  

    <link href="{{url_for('static',filename='/css/main.d8e0d294.css')}}", rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/clean-blog.min.css')}}" rel="stylesheet">
  </head>

  <body class="">

    <!-- Add your content of header -->
    <div class="background-color-layer" style="background-image: url('{{url_for('static',filename='assets/images/img-01.jpg')}}')"
    ></div>
    <main class="content-wrapper">
      <header class="white-text-container section-container">
        <div class="text-center">
          <img src="{{url_for('static',filename='assets/apple-icon-180x180.png')}}" align="text-center">
          <h1>About Me</h1>
          <p><h3>This is what I am</h3></p>
      </div>
    </header>



    <!-- Add your site or app content here -->


    <div class="container">
     <div class="row">
       <div class="col-xs-12">

        <div class="card">
          <div class="card-block">

            <div class="row">
              <div class="col-md-4">
                <p><img src="{{url_for('static',filename='assets/images/img-01.jpg')}}" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

                <p>Enthusiastic data analyst eager to contribute to team success through hard work, attention to detail and excellent organizational skills. Clear understanding of dealing with the dataset and preprocessing the data and trained in making a good machine learning model. Motivated to learn, grow and excel in excellent industries. </p>
                <p>I am able to perform all the data analysis by following various stages of handling raw data. I can also automate the web to make web scraping easier for daily base uses and make the best machine learning model with very less amount of errors for best prediction.</p>

              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">

              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">Current</small>
                  <h3 class="h5 date-title">B.TECH (CSE)</h3>
                  <p>Amity University, Gurugram</p>
                  <p> Current CGPA- 9.26
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="education-experience">
                    <small class="date">2017-2018</small>
                    <h3 class="h5 date-title">Higher Secondary Education</h3>
                    <p>Euro International School, Rewari</p>
                    <p>Percentage- 92.5%</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="education-experience">
                    <small class="date">2015-2016</small>
                    <h3 class="h5 date-title">Secondary Education</h3>
                    <p>Somany Vidya Peeth Public School, Rewari</p>
                    <p>CGPA - 10</p>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-block">
              <h2>Language</h2>
              <div class="row">

                <div class="col-md-4">
                  <div class="language-experience">
                    <h3 class="h5">English  <small>Fluent</small></h3>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="language-experience">
                    <h3 class="h5">Hindi  <small>  Fluent</small></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">

            <div class="card-block">
              <h2>Programming Languages</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="language-experience">
                    <ul class="h5" type="square">
                    	<li>Python</li>
                    	<p></p>
                    	<li>Java</li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div class="card">

            <div class="card-block">
              <h2>Skills</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="skills_all">
                    <ul type="square" class="h5" >
                    	<li>Curious</li>
                    	<p></p>
                    	<li>Judgemental</li>
                    	<p></p>
                    	<li>Problem Solving</li>
                    	<p></p>
                    	<li>Time Management</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>
  <footer class="footer-container white-text-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p><img src="{{url_for('static',filename='assets/images/my_brand.png')}}" alt=""></p>
          
          <p>©All right reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
       scrollRevelation('.card');
     });
   </script>

  --><script type="text/javascript" src="{{url_for('static',filename='vendor/jquery/main.bc58148c.js')}}"></script></body>

  </html>