{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <!-- So first we will create a jinjer variable--> 
  <!-- {% set fname='img/' + project.img_name %} -->
  {% set fname="img/" + project.img_name %}

  <header class="masthead" style="background-image: url('{{url_for('static',filename=fname)}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{project.project_name}}</h1>
            <h2 class="subheading">{{project.tagline}}</h2>
            <span class="meta">Posted by
              <a href="#">{{parameters.User}}</a>
              on {{project.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{project.description}}
        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock %}